.menu {
    list-style: none;
    display: flex;
}
.menu>li {
    margin: 8px;
}
.menu>li>a {
    text-decoration: none;
    color: #D8E9A8;
    text-transform: uppercase;
    font-size: 20px;
}
.menu>li>a:hover {
    text-decoration: underline;
}